# Working with data

In this part we are going to delve into the details of how to work with the data

### Import Numpy and Pandas

In [1]:
import pandas as pd
import numpy as np

### Reading From CSV File

In [8]:
df = pd.read_csv('sample.csv') # header assumed by default, to ignore use header=None
df

    id      name  age            occupation
0  101      John   32     Software Engineer
1  104  Jennifer   35        Medical Doctor
2  107   Micheal   22   Physician Assistant
3  210     Ahmad   45  Professor of Physics

### Reading CSV From a URL